@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">Loyalty Point</h1>
			</div>
			<div class="col-sm-6">
				<div class="float-sm-right">
					@if (Common.IsAdmin() && Model.IsCreate == true)
					{
						<button type="button" id="btnAddNewItem" class="btn btn-primary btn-md pull-right mr-2 divformSave_Hide" onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditForm","LoyaltyPoint")');">
							<i class="fas fa-plus"></i> &nbsp; Add new item
						</button>
					}
					<button type="button" id="btnBackToList" class="btn btn-warning btn-md pull-right mr-2 divformSave_Display d-none" onclick="fnCloseParialView('divformSave');">
						<i class="fas fa-arrow-left"></i> &nbsp; Back To List
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="content">
	<div class="container-fluid">
		<div class="row no-gooters">
			<section class="col-md-12">
				<div class="card">
					<div class="card-header divformSave_Display d-none" style="margin: 5px !important;">
						<form id="formSave" action="@Url.Action("Save","LoyaltyPoint")" method="post">
							<div class="row no-gutters" id="divformSave"></div>
							<div class="clearfix"></div>
							<hr />
						</form>
					</div>

					<div class="card-body">
						<div class="row no-gooters divformSave_Hide">
							<div class="col-md-12 my-1">
								<table class="table table-bordered table-striped table-hover w-100" id="dataTable_LoyaltyPoint"></table>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>

@section Scripts {

	<script type="text/javascript">

	var dataTableMain = null;

	$(document).ready(function () {
		setTimeout(function () {
			fnLoadTableData();
		}, 1000);
	});

	function fnLoadTableData() {
		if ($.fn.DataTable.isDataTable('#dataTable_VendorPO')) {
			$('#dataTable_VendorPO').DataTable().destroy();
		}

		dataTableMain = $("#dataTable_VendorPO").DataTable({
				"destroy": true,
				"pageLength": 50,
				"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]], 
				"sAjaxSource": "@Url.Action("GetData", "LoyaltyPoint")",
				"bServerSide": true,
				"bProcessing": true,
				"bSearchable": true,
				"order": [[1, 'desc']],
				"language": { "emptyTable": "No record found.", "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> ' },
				"fnServerParams": function (aoData) {
					//aoData.push({ "name": "PoNo", "value": "" + $('#PoNo').val() });
				},
				"columns": [
					{ "title": "#", "autoWidth": false, "searchable": true, "width": "5%", "class": "text-center" },
					{ "title": "QR Code", "data": "qrCode", "autoWidth": true, "searchable": true },
					{ "title": "Points", "data": "points", "autoWidth": true, "searchable": true },
					{ "title": "Generate Date", "data": "generateDate_Text", "autoWidth": true, "searchable": true },
					{ "title": "Is Claimed ?", "data": "isClaimed_Text", "autoWidth": true, "searchable": true },
					{ "title": "Claimed By", "data": "claimedBy", "autoWidth": true, "searchable": true },
					{ "title": "Claimed Date", "data": "claimedDate_Text", "autoWidth": true, "searchable": true },
					{
						"title": "Action", "data": null, "autoWidth": false, "searchable": false, "width": "5%",
						"render": function (data, type, row, meta) {
							return '<div class="btn-group"><a class="btn btn-info btn-sm btn-flat" href="javascript:void(0);" onclick="fnLoadParialView(\'divformSave\', \'@Url.Action("Partial_AddEditForm", "LoyaltyPoint")?Id=' + data.id + '\')"><span class="nme"><i class="far fa-edit"></i></span></a>' +
								//'<a class="btn btn-danger btn-sm btn-flat ml-2" href="javascript:void(0);" onclick="divShow(\'/DeleteConfirmed?Id=' + data.id + '\');"><span class="nme"><i class="far fa-trash-alt"></i></span></a>' +
								'</div>';
						}
					}
				],
				"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
					var index = iDisplayIndexFull + 1;
					$("td:first", nRow).html(index);
					return nRow;
				}
			});

	}

	</script>
}
