@model ResponseModel<ProductQrCode>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

	decimal RupeePerPoint = Convert.ToDecimal(AppHttpContextAccessor.AppConfiguration.GetSection("RupeePerPoint")?.Value ?? "0");
}

<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">Product QR Code</h1>
			</div>
			<div class="col-sm-6">
				<div class="float-sm-right">
					@if (Common.IsAdmin() && Model.IsCreate == true)
					{
						<button type="button" id="btnAddNewItem" class="btn btn-primary btn-md pull-right mr-2 divformSave_Hide"
								onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditForm", "ProductQRCode")')">
							<i class="fas fa-plus"></i> &nbsp; Generate Product QR Code(s)
						</button>
						<button type="button" id="btnBackToList" class="btn btn-warning btn-md pull-right mr-2 divformSave_Display d-none" onclick="fnCloseParialView('divformSave');">
							<i class="fas fa-arrow-left"></i> &nbsp; Back To List
						</button>
					}
				</div>
			</div>
		</div>
	</div>
</div>

<section class="content">
	<div class="container-fluid">

		<div class="row no-gooters">
			<section class="col-md-12">
				<div class="card">
					<div class="card-header divformSave_Display d-none">

						<div class="row no-gooters">
							<div class="col-md-12 p-0 m-0" id="divformSave"></div>
							<div class="clearfix"></div>
						</div>

					</div>

					<div class="card-body divformSave_Hide">
						<div class="row no-gooters">
							<div class="col-md-12 my-1">
								<table class="table table-bordered table-striped table-hover w-100" id="dataTable_ProductQRCode"></table>
							</div>
							<input type="hidden" id="searchTerm" value="@(Model.Data5 != null ? Model.Data5 : "")" />
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>

@section Scripts {

	@if (Common.IsAdmin())
	{
		<script type="text/javascript">

			var dataTableMain = null;

			$(document).ready(function () {
				setTimeout(function () {
					fnLoadTableData();
				}, 1000);
			});

			function fnLoadTableData() {
				if ($.fn.DataTable.isDataTable('#dataTable_ProductQRCode')) {
					$('#dataTable_ProductQRCode').DataTable().destroy();
				}

				dataTableMain = $("#dataTable_ProductQRCode").DataTable({
					"destroy": true,
					"pageLength": 50,
					"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
					"sAjaxSource": "@Url.Action("GetData", "ProductQRCode")",
					//"sServerMethod": "POST",
					"bServerSide": true,
					"bProcessing": true,
					"bSearchable": true,
					"order": [[3, 'desc']],
					"language": { "emptyTable": "No record found.", "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> ' },
					"fnServerParams": function (aoData) {
						//aoData.push({ "name": "PoNo", "value": "" + $('#PoNo').val() });
						aoData.push({ "name": "sSearch", "value": $('#searchTerm').val() });
					},
					"columns": [
						{ "title": "#", "data": null, "autoWidth": false, "searchable": true, "width": "5%", "class": "text-center" },
						{ "title": "Product", "data": "Product_Text", "autoWidth": true, "searchable": true },
						{ "title": "QR Code", "data": "QrCode", "autoWidth": true, "searchable": true },
						{ "title": "Points", "data": "Points", "autoWidth": true, "searchable": true },
						{ "title": "Product", "data": "Product_Text", "autoWidth": true, "searchable": true },
						{ "title": "Created Date", "data": "CreatedDate_Text", "autoWidth": true, "searchable": true }
						@* ,{
							"title": "Action", "data": null, "autoWidth": false, "searchable": false, "width": "5%",
							"render": function (data, type, row, meta) {
								if (data.IsClaimed == false)
									return '<div class="btn-group"><a class="btn btn-danger btn-sm btn-flat ml-2" href="javascript:void(0);" onclick="divShow(\'/DeleteConfirmed?Id=' + data.Id + '\');"><span class="nme"><i class="far fa-trash-alt"></i></span></a></div>';
								else return '';
							}
						} *@
					],
					"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
						var index = iDisplayIndexFull + 1;
						$("td:first", nRow).html(index);
						return nRow;
					},
					initComplete: function (settings, json) { $('#searchTerm').val('').trigger('change'); }
				});

			}

			function fnSubmitForm_Success(response, $id) {
				debugger;
				if (response.StatusCode === 1) fnCloseParialView('divformSave', null);
				dataTableMain.ajax.reload();
			}

			function fnParialView_Loaded_Success($id, $isAlert) {
				$('html, body').scrollTop($('#' + $id).offset().top);
			}

			// function fnParialView_Close_Success($id) {
			// 	debugger;
			// 	dataTableMain.ajax.reload();
			// }
		</script>
	}
}
