USE [padhyaso_seed]
GO
/****** Object:  Table [dbo].[LoyaltyPoints]    Script Date: 09-09-2025 02:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyPoints](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[QRCodeId] [bigint] NULL,
	[Points] [decimal](18, 0) NOT NULL,
	[EarnedDateTime] [datetime2](7) NOT NULL,
	[ExpiryDateTime] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_LoyaltyPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyPoints_QRCode]    Script Date: 09-09-2025 02:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyPoints_QRCode](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QRCode_Base64] [nvarchar](max) NOT NULL,
	[QRCode] [nvarchar](max) NOT NULL,
	[Points] [decimal](18, 0) NOT NULL,
	[ExpireInDay] [int] NOT NULL,
	[IsScanned] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NOT NULL,
	[LastModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_LoyaltyPoints_QRCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyPointScheme]    Script Date: 09-09-2025 02:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyPointScheme](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SchemeName] [nvarchar](max) NULL,
	[ProductID] [bigint] NOT NULL,
	[PackageType_ID] [bigint] NULL,
	[SKUSize_ID] [bigint] NULL,
	[MinPurchaseQty] [int] NOT NULL,
	[MaxPurchaseQty] [int] NULL,
	[LoyaltyPoints] [int] NULL,
	[EffectiveStartDate] [datetime2](7) NULL,
	[EffectiveEndDate] [datetime2](7) NULL,
	[SchemeFor] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK__LoyaltyP__3214EC074DB4FB59] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyPointScheme_User]    Script Date: 09-09-2025 02:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyPointScheme_User](
	[UserId] [bigint] NOT NULL,
	[Order_Id] [bigint] NOT NULL,
	[Order_Detail_Id] [bigint] NOT NULL,
	[Product_Id] [bigint] NOT NULL,
	[PackageType_Id] [bigint] NOT NULL,
	[SKUSize_Id] [bigint] NOT NULL,
	[LoyaltyPointSchemeId] [bigint] NOT NULL,
	[Points] [decimal](18, 0) NOT NULL,
	[EarnedDateTime] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 09-09-2025 02:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Order_ID] [bigint] NULL,
	[Product_ID] [bigint] NULL,
	[PackageType_ID] [bigint] NULL,
	[SKUSize_ID] [bigint] NULL,
	[Qty] [decimal](18, 0) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Order_Detail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLoading]    Script Date: 09-09-2025 02:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLoading](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Order_Id] [bigint] NOT NULL,
	[Product_Id] [bigint] NOT NULL,
	[PackageType_ID] [bigint] NULL,
	[SKUSize_ID] [bigint] NULL,
	[Product_QR_Code_Id] [bigint] NOT NULL,
	[QR_Code] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NOT NULL,
	[LastModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_OrderLoading] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 09-09-2025 02:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Order_No] [varchar](max) NULL,
	[Order_Date] [datetime2](7) NULL,
	[Total_Qty] [decimal](18, 0) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_Check_QR_Code]    Script Date: 09-09-2025 02:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Check_QR_Code]
	@BatchId bigint = 0
	,@OrderId bigint = 0
	,@ProductId bigint = 0
	,@PackageTypeId bigint = 0
	,@SKUSizeId bigint = 0
	,@QRCode nvarchar(MAX)
	,@Operated_By [bigint] = NULL
	,@response nvarchar(MAX) out
AS
BEGIN

	SET NOCOUNT ON;

	SET @response = 'E|' + 'Opps!... Something went wrong. Please contact system administrator|0';
	
	IF @BatchId > 0
	BEGIN
	
		-- 1. Check QRCode with BatchId NULL or 0
		DECLARE @ProductId_QR BIGINT;

		SELECT @ProductId_QR = ProductId FROM Product_QR_Code WHERE QRCode = @QRCode AND (BatchId IS NULL OR BatchId = 0);

		IF @ProductId_QR IS NULL
		BEGIN
			SET @response = 'E|QR Code not found or already assigned to a batch|0';
			RETURN;
		END

		-- 2. Check Batch exists and ProductId matches
		DECLARE @ProductId_Batch BIGINT;

		SELECT @ProductId_Batch = ProductId
		FROM Product_Batch
		WHERE Id = @BatchId;

		IF @ProductId_Batch IS NULL
		BEGIN
			SET @response = 'E|Invalid Batch|0';
			RETURN;
		END

		IF @ProductId_QR <> @ProductId_Batch
		BEGIN
			SET @response = 'E|Product mismatch between QR Code and Batch|0';
			RETURN;
		END

		-- 3. Update QR Code with BatchId
		UPDATE Product_QR_Code
		SET BatchId = @BatchId,
			LastModifiedDate = GETDATE(),
			LastModifiedBy = @Operated_By
		WHERE QRCode = @QRCode
		  AND (BatchId IS NULL OR BatchId = 0);

		IF @@ROWCOUNT > 0
			SET @response = 'S|QR Code successfully updated|1';
		ELSE
			SET @response = 'E|Update failed|0';
	END
	ELSE IF @OrderId > 0 AND @ProductId > 0
	BEGIN
	
		SET @response = 'S|QR Code successfully added|1';
		
		DECLARE @RequireQty INT;
		DECLARE @LoadedQty INT;

		SELECT TOP 1 @RequireQty = Qty FROM Order_Detail WHERE Order_ID = @OrderId AND Product_ID = @ProductId AND PackageType_ID = @PackageTypeId AND SKUSize_ID = @SKUSizeId;

		SELECT @LoadedQty = COUNT(*) FROM [dbo].[OrderLoading] WHERE Status = 'S' AND Order_Id = @OrderId AND Product_Id = @ProductId AND PackageType_ID = @PackageTypeId AND SKUSize_ID = @SKUSizeId AND IsActive = 1 AND IsDeleted = 0;

		IF (@RequireQty IS NOT NULL AND @LoadedQty >= @RequireQty)
		BEGIN
			SET @response = 'E|Loading Completed|-1';
			RETURN;
		END
		ELSE 
		BEGIN

			DECLARE @QRCodeId BIGINT = 0;
			DECLARE @QRCodeProductId BIGINT = 0;
			DECLARE @Reason NVARCHAR(MAX) = '';
		
			SELECT TOP 1 @QRCodeId = Id, @QRCodeProductId = ProductId FROM Product_QR_Code WHERE QRCode = @QRCode;

			IF @QRCodeId IS NULL OR @QRCodeId = 0
			BEGIN
				SET @Reason = 'QR Code not found';
				SET @response = 'E|QR Code not found|0';
				--RETURN;
			END
			ELSE IF EXISTS (SELECT 1 FROM [dbo].[OrderLoading] WHERE Product_QR_Code_Id = @QRCodeId AND Status = 'S' AND Order_Id = @OrderId AND IsActive = 1 AND IsDeleted = 0)
			BEGIN
				SET @Reason = 'QR Code already loaded';
				SET @response = 'E|QR Code already loaded|0';
				--RETURN;
			END
			ELSE IF EXISTS (SELECT 1 FROM [dbo].[OrderLoading] WHERE Product_QR_Code_Id = @QRCodeId AND Status = 'S' AND Order_Id != @OrderId AND IsActive = 1 AND IsDeleted = 0)
			BEGIN
				SET @Reason = 'QR Code already loaded in another order.';
				SET @response = 'E|QR Code already loaded in another order.|0';
				--RETURN;
			END
			ELSE IF EXISTS (SELECT 1 FROM Product_QR_Code WHERE Id = @QRCodeId AND (BatchId IS NULL OR BatchId = 0))
			BEGIN
				SET @Reason = 'QR Code not assigned to a batch';
				SET @response = 'E|QR Code not assigned to a batch|0';
				--RETURN;
			END
			ELSE IF NOT EXISTS (SELECT 1 FROM Order_Detail WHERE Order_ID = @OrderId AND Product_ID = @QRCodeProductId AND Product_ID = @ProductId)
			BEGIN
				SET @Reason = 'Another product QR found';
				SET @response = 'E|Another product QR found|0';
				--RETURN;
			END
					
			INSERT INTO [dbo].[OrderLoading] (Order_Id, Product_Id, PackageType_ID, SKUSize_ID, Product_QR_Code_Id, QR_Code, Status, Reason, IsActive, IsDeleted, CreatedBy, CreatedDate, LastModifiedBy, LastModifiedDate)
			VALUES (@OrderId, @ProductId, @PackageTypeId, @SKUSizeId, @QRCodeId, @QRCode, CASE WHEN @Reason = '' OR @Reason IS NULL THEN 'S' ELSE 'R' END, @Reason, 1, 0, @Operated_By, GETDATE(), @Operated_By, GETDATE());
		
			SELECT ROW_NUMBER() OVER (PARTITION BY Status ORDER BY CreatedDate DESC) AS SrNo, Id, Product_QR_Code_Id, QR_Code, Status, Reason 
			FROM (SELECT DISTINCT Id, Product_QR_Code_Id, QR_Code, Status, Reason, CreatedDate
						FROM OrderLoading WHERE Order_Id = @OrderId AND Product_Id = @ProductId AND PackageType_ID = @PackageTypeId AND SKUSize_ID = @SKUSizeId AND IsActive = 1 AND IsDeleted = 0) X;
					
			SET @LoadedQty = @LoadedQty + 1;

			IF (@RequireQty IS NOT NULL AND @LoadedQty >= @RequireQty AND @Reason = '' OR @Reason IS NULL)
			BEGIN
				SET @response = 'E|Loading Completed|-1';
			END

			IF NOT EXISTS (
				SELECT 1
				FROM Order_Detail OD
				LEFT JOIN ( SELECT OL.Product_Id, OL.PackageType_ID, OL.SKUSize_ID, COUNT(*) AS TotalRecords
					FROM OrderLoading OL
					WHERE OL.Order_Id = @OrderId AND OL.IsActive = 1 AND OL.IsDeleted = 0 AND OL.Status = 'S'
					GROUP BY OL.Product_Id, OL.PackageType_ID, OL.SKUSize_ID
				) AS OL ON OL.Product_Id = OD.Product_Id AND OL.PackageType_ID = OD.PackageType_ID AND OL.SKUSize_ID = OD.SKUSize_ID
				WHERE OD.Order_Id = @OrderId AND ISNULL(OL.TotalRecords, 0) < OD.Qty  -- not fully loaded
			)
			BEGIN
				-- 'Order is Completed';
				UPDATE Orders SET Status = 'COMPLETED' WHERE Id = @OrderId;

				WITH CTE_Order_Details AS (SELECT [Order_ID], OD.Id Order_Detail_Id , [Product_ID], [PackageType_ID], [SKUSize_ID], [Qty] Order_Qty, Order_Date, Status, O.[CreatedBy] UserId
				FROM [padhyaso_seed].[dbo].[Orders] O
				LEFT JOIN [padhyaso_seed].[dbo].[Order_Detail] OD ON OD.Order_Id = O.Id
				WHERE [Order_ID] = 10011)
				INSERT INTO LoyaltyPointScheme_User (UserId, Order_Id, Order_Detail_Id, Product_Id, PackageType_Id, SKUSize_Id, LoyaltyPointSchemeId, Points, EarnedDateTime)
				SELECT OD.UserId, OD.[Order_ID], OD.Order_Detail_Id, LPS.[ProductID], LPS.[PackageType_ID], LPS.[SKUSize_ID], LPS.[Id] SchemeId, LPS.[LoyaltyPoints], GETDATE()
				FROM [dbo].[LoyaltyPointScheme] LPS
				INNER JOIN CTE_Order_Details OD ON LPS.[ProductID] = OD.[Product_ID] AND LPS.[PackageType_ID] = OD.[PackageType_ID] AND LPS.[SKUSize_ID] = OD.[SKUSize_ID]
				WHERE [SchemeFor] = 'DEALER' AND LPS.[SchemeName] !='' AND LPS.[SchemeName] IS NOT NULL
				AND Order_Qty >= [MaxPurchaseQty] AND OD.Order_Date BETWEEN LPS.EffectiveStartDate AND LPS.EffectiveEndDate
				AND NOT EXISTS (
						SELECT 1 FROM LoyaltyPointScheme_User LPU
						WHERE LPU.UserId = OD.UserId AND LPU.Order_Id = OD.Order_ID AND LPU.Order_Detail_Id = OD.Order_Detail_Id
						  AND LPU.Product_Id = OD.Product_ID AND LPU.PackageType_Id = OD.PackageType_ID AND LPU.SKUSize_Id = OD.SKUSize_ID
				  );
			END
		END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_QR_Code]    Script Date: 09-09-2025 02:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Delete_QR_Code]
	@BatchId bigint = 0
	,@OrderId bigint = 0
	,@ProductId bigint = 0
	,@PackageTypeId bigint = 0
	,@SKUSizeId bigint = 0
	,@QRCode nvarchar(MAX)
	,@OrderLoadingId bigint = 0
	,@Operated_By [bigint] = NULL
	,@response nvarchar(MAX) out
AS
BEGIN

	SET NOCOUNT ON;

	SET @response = 'E|' + 'Opps!... Something went wrong. Please contact system administrator|0';
	
	IF @BatchId > 0
	BEGIN
	
		-- 1. Check QRCode with BatchId NULL or 0
		DECLARE @ProductId_QR BIGINT;

		SELECT @ProductId_QR = ProductId FROM Product_QR_Code WHERE QRCode = @QRCode AND (BatchId IS NULL OR BatchId = 0);

		IF @ProductId_QR IS NULL
		BEGIN
			SET @response = 'E|QR Code not found or already assigned to a batch|0';
			RETURN;
		END

	END
	ELSE IF @OrderId > 0 AND @ProductId > 0
	BEGIN
	
		SET @response = 'S|QR Code successfully deleted|1';
		
		DECLARE @_QRCodeId BIGINT = 0;
		DECLARE @QRCodeProductId BIGINT = 0;
		DECLARE @Reason NVARCHAR(MAX) = '';
		
		IF NOT EXISTS (SELECT 1 FROM [dbo].[OrderLoading] WHERE Id = @OrderLoadingId AND QR_Code = @QRCode AND Order_Id = @OrderId AND Product_ID = @ProductId)
		BEGIN
			SET @Reason = 'Opps!... Something went wrong! Not able to delete QR Code.';
			SET @response = 'E|Opps!... Something went wrong! Not able to delete QR Code.|0';
			RETURN;
		END
		
		UPDATE [dbo].[OrderLoading] SET IsActive = 0, IsDeleted = 1, LastModifiedBy = @Operated_By, LastModifiedDate = GETDATE()
		WHERE Id = @OrderLoadingId AND QR_Code = @QRCode AND Order_Id = @OrderId AND Product_ID = @ProductId AND PackageType_ID = @PackageTypeId AND SKUSize_ID = @SKUSizeId;
		
		SELECT ROW_NUMBER() OVER (PARTITION BY Status ORDER BY CreatedDate DESC) AS SrNo, Id, Product_QR_Code_Id, QR_Code, Status, Reason 
		FROM (SELECT DISTINCT Id, Product_QR_Code_Id, QR_Code, Status, Reason, CreatedDate
					FROM OrderLoading WHERE Order_Id = @OrderId AND Product_Id = @ProductId AND PackageType_ID = @PackageTypeId AND SKUSize_ID = @SKUSizeId AND IsActive = 1 AND IsDeleted = 0) X;

					
		IF EXISTS (
				SELECT 1 FROM Order_Detail OD
				LEFT JOIN (
					SELECT OL.Product_Id, COUNT(*) AS TotalRecords
					FROM OrderLoading OL
					WHERE OL.Order_Id = @OrderId AND OL.IsActive = 1 AND OL.IsDeleted = 0 AND OL.Status = 'S' GROUP BY OL.Product_Id
				) AS OL ON OL.Product_Id = OD.Product_Id
				WHERE OD.Order_Id = @OrderId AND ISNULL(OL.TotalRecords, 0) < OD.Qty  -- not fully loaded
			)
			BEGIN
			-- 'Order is Completed';
			UPDATE Orders SET Status = 'PEND' WHERE Id = @OrderId;

			DECLARE @UserId BIGINT = 0;

			SELECT TOP 1 @UserId = O.[CreatedBy] FROM [padhyaso_seed].[dbo].[Orders] O WHERE Id = @OrderId;

			DELETE FROM LoyaltyPointScheme_User WHERE UserId = @UserId AND Order_Id = @OrderId; --AND Product_Id = @ProductId AND PackageType_ID = @PackageTypeId AND SKUSize_ID = @SKUSizeId;
		END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LoyaltyPointScheme_Get]    Script Date: 09-09-2025 02:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LoyaltyPointScheme_Get]
	@Id BigInt = NULL
	
AS
BEGIN

	SET NOCOUNT ON;



	IF @Id > 0
	BEGIN
		Select * , (select Name from Product p where p.Id = ls.ProductID)Product_Name,
	(select PackageTypeName from PackageType pt where pt.Id = ls.PackageType_ID)PackageType_Name,
	(select SKUSizeName  from SKUSize p where p.Id = ls.SKUSize_ID)SKUSize_Name 
	, (CASE WHEN SchemeFor = 'DEALER' THEN 'Dealer' WHEN SchemeFor = 'DISTRIBUTOR' THEN 'Distributor' ELSE 'Others' END) SchemeFor_Text
	from LoyaltyPointScheme ls  where Id = @Id
	END
	ELSE 
	BEGIN   
		
	   Select * , (select Name from Product p where p.Id = ls.ProductID)Product_Name,
	(select PackageTypeName from PackageType pt where pt.Id = ls.PackageType_ID)PackageType_Name,
	(select SKUSizeName  from SKUSize p where p.Id = ls.SKUSize_ID)SKUSize_Name 
	, (CASE WHEN SchemeFor = 'DEALER' THEN 'Dealer' WHEN SchemeFor = 'DISTRIBUTOR' THEN 'Distributor' ELSE 'Others' END) SchemeFor_Text
	from LoyaltyPointScheme ls  order by 1 desc
		
		
	END
	


END
GO
/****** Object:  StoredProcedure [dbo].[SP_LoyaltyPointScheme_SAVE]    Script Date: 09-09-2025 02:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LoyaltyPointScheme_SAVE]
	@Id [bigint] = 0
	,@SchemeName VARCHAR(MAX) = NULL	
	,@ProductID  bigint = 0
	,@PackageType_ID bigint = 0
	,@SKUSize_ID bigint = 0
	,@MinPurchaseQty  int = 0
	,@MaxPurchaseQty  int = 0
	,@LoyaltyPoints bigint = 0
	,@EffectiveStartDate datetime = null
	,@EffectiveEndDate datetime = null	
	,@SchemeFor VARCHAR(50) = NULL	
	,@Operated_By [bigint] = NULL		
	,@Action VARCHAR(10) = NULL
	,@response nvarchar(MAX) out
AS
BEGIN

	SET NOCOUNT ON;

	SET @response = 'E|' + 'Opps!... Something went wrong. Please contact system administrator|0';

	
		--INSERT
		IF @Action = 'INSERT'
		  BEGIN
			IF EXISTS (SELECT * FROM [dbo].[LoyaltyPointScheme] WHERE ProductID = @ProductID and PackageType_ID = @PackageType_ID and SKUSize_ID = @SKUSize_ID AND UPPER(SchemeFor) = UPPER(@SchemeFor) AND UPPER(SchemeName) = UPPER(@SchemeName) and IsDeleted = 0)
				BEGIN SET @response =  'E|' + 'This scheme is already exists|0'; END
			ELSE
			BEGIN
				INSERT INTO [dbo].[LoyaltyPointScheme](SchemeName, ProductID,PackageType_ID,SKUSize_ID,MaxPurchaseQty , MinPurchaseQty,LoyaltyPoints, EffectiveStartDate,EffectiveEndDate, SchemeFor,CreatedBy, CreatedDate, IsActive, IsDeleted)
				VALUES (@SchemeName,@ProductID,@PackageType_ID,@SKUSize_ID,@MaxPurchaseQty,@MinPurchaseQty ,@LoyaltyPoints,@EffectiveStartDate,@EffectiveEndDate, @SchemeFor,@Operated_By, GETDATE(), 1, 0)
 
				SET @Id = SCOPE_IDENTITY();			

				SET @response =  'S|' + 'Record saved successfully|' + CONVERT(NVARCHAR(MAX), @Id);
			END
		  END
 
		  --UPDATE
		IF @Action = 'UPDATE'
		  BEGIN
			IF EXISTS (SELECT * FROM [dbo].[LoyaltyPointScheme] WHERE ProductID = @ProductID  AND UPPER(SchemeName) = UPPER(@SchemeName) AND UPPER(SchemeFor) = UPPER(@SchemeFor) AND [Id] != @Id and IsDeleted = 0 )
				BEGIN SET @response =  'E|' + 'This scheme is already exists|0'; END
			ELSE
			BEGIN
				UPDATE [dbo].[LoyaltyPointScheme] SET SchemeName = @SchemeName, [ProductID] = @ProductID,PackageType_ID = @PackageType_ID,SKUSize_ID = @SKUSize_ID,MaxPurchaseQty = @MaxPurchaseQty,
				MinPurchaseQty = @MinPurchaseQty , LoyaltyPoints = @LoyaltyPoints, EffectiveStartDate = @EffectiveStartDate,
				EffectiveEndDate = @EffectiveEndDate,			   
				 LastModifiedBy = @Operated_By, LastModifiedDate = GETDATE()
				WHERE [Id]= @Id;
 
				

				SET @response =  'S|' + 'Record Updated successfully|' + CONVERT(NVARCHAR(MAX), @Id);
			END
		  END			
END
GO
/****** Object:  StoredProcedure [dbo].[SP_OrderDetail_GET]    Script Date: 09-09-2025 02:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_OrderDetail_GET] 
@Order_ID bigint = 0,
@Product_ID bigint = 0
	,@PackageTypeId bigint = 0
	,@SKUSizeId bigint = 0
AS
BEGIN
	WITH CTE_OrderLoading  AS
		(
			SELECT DISTINCT OL.Product_Id, OL.PackageType_ID, OL.SKUSize_ID,
				COUNT(*) AS TotalRecords,
				MAX(OL.CreatedDate) AS LastCreatedDate   -- example aggregate
			FROM OrderLoading OL
			WHERE OL.Order_Id = @Order_ID AND IsActive = 1 AND IsDeleted = 0 AND Status = 'S'
			GROUP BY OL.Product_Id, OL.PackageType_ID, OL.SKUSize_ID
		)
	select o.*, X.Order_No , X.Total_Qty Ordered_Qty , (select Name from Product p where p.Id = o.Product_ID)Product_Name,
	(select PackageTypeName from PackageType pt where pt.Id = o.PackageType_ID)PackageType_Name,
	(select SKUSizeName  from SKUSize p where p.Id = o.SKUSize_ID)SKUSize_Name 
	, PS.TotalRecords Loaded_Qty
	from Orders X
		LEFT JOIN Order_Detail o ON o.Order_Id = X.Id
		LEFT JOIN CTE_OrderLoading PS ON PS.Product_Id = o.Product_Id AND PS.PackageType_ID = o.PackageType_ID AND PS.SKUSize_ID = o.SKUSize_ID
		where X.Id = @Order_ID;

		IF @Product_ID > 0 
		BEGIN
			-- CTE 1: All records
				WITH CTE_AllRecords AS
				(
					SELECT DISTINCT 
						OL.Id,
						OL.Order_Id,
						OL.Product_Id, OL.PackageType_ID, OL.SKUSize_ID,
						OL.Product_QR_Code_Id,
						OL.QR_Code,
						OL.Status,
						OL.Reason,
						OL.CreatedDate
					FROM OrderLoading OL
					WHERE OL.Order_Id = @Order_ID AND IsActive = 1 AND IsDeleted = 0
				),
				CTE_ProductSummary AS
				(
					SELECT DISTINCT X.Product_Id, X.PackageType_ID, X.SKUSize_ID, P.Name ProductName , X.TotalRecords FROM (SELECT OL.Product_Id, OL.PackageType_ID, OL.SKUSize_ID,
										COUNT(*) AS TotalRecords
										--, MAX(OL.CreatedDate) AS LastCreatedDate
									FROM CTE_AllRecords OL
									GROUP BY OL.Product_Id, OL.PackageType_ID, OL.SKUSize_ID) X
					LEFT JOIN Product P ON P.Id = X.Product_Id
				)
				-- Final select
				SELECT ROW_NUMBER() OVER (ORDER BY A.CreatedDate DESC) AS SrNo
				, A.Id,A.Order_Id,A.Product_Id, A.PackageType_ID, A.SKUSize_ID,PS.ProductName,A.Product_QR_Code_Id,A.QR_Code,A.Status,A.Reason,[dbo].[FN_DATE_TO_STRING](A.CreatedDate) CreatedDate_Text,PS.TotalRecords
				FROM CTE_AllRecords A
				LEFT JOIN CTE_ProductSummary PS ON PS.Product_Id = A.Product_Id AND PS.PackageType_ID = A.PackageType_ID AND PS.SKUSize_ID = A.SKUSize_ID
				ORDER BY A.Product_Id, A.PackageType_ID, A.SKUSize_ID, A.CreatedDate;
		END;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Product_QR_Code_Generate]    Script Date: 09-09-2025 02:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Product_QR_Code_Generate]
	@ProductId bigint = 0
	,@PackageType_ID bigint = 0
	,@SKUSize_ID bigint = 0
	,@NoOfQRCode int = 0
	,@MinValue int = 0
	,@MaxValue int = 0
	,@Operated_By [bigint] = NULL
	,@response nvarchar(MAX) out
AS
BEGIN

	SET NOCOUNT ON;

	SET @response = 'E|' + 'Opps!... Something went wrong. Please contact system administrator|0';

	

			IF NOT EXISTS (SELECT * FROM Product WHERE Id = @ProductId AND IsDeleted = 0)
				BEGIN SET @RESPONSE =  'E|Selected Product not exist.|0'; END
			ELSE
			BEGIN
			
				DECLARE @start bigint;
				
				SET @start = ISNULL((SELECT MAX(DecimalValue) FROM [dbo].[Product_QR_Code] WHERE LEFT(YYYYMM, 4) = FORMAT(GETDATE(), 'yyyy')), 0);

				DECLARE @RequestId BIGINT = CAST(REPLACE(REPLACE(REPLACE(CONVERT(CHAR(19), GETDATE(), 120),'-',''),' ',''),':','') AS BIGINT);

				INSERT INTO [dbo].[Product_QR_Code](BatchId, RequestId, ProductId,PackageType_ID,SKUSize_ID,QrCode_Base64, QRCode, DecimalValue, YYYYMM, Points, IsScanned, IsActive, IsDeleted, CreatedBy, CreatedDate, LastModifiedBy, LastModifiedDate)
				SELECT 0, @RequestId, @ProductId,@PackageType_ID,@SKUSize_ID, '', ISNULL(HexValue, ''), DecimalValue, YYYYMM, (ABS(CHECKSUM(NEWID()) % (@MaxValue - @MinValue + 1)) + @MinValue), 0, 1, 0, @Operated_By, GETDATE(), @Operated_By, GETDATE()
				FROM [dbo].[FN_Generate_ProductQRCode] (@start + 1,@NoOfQRCode);
 
				SET @response =  'S|Record saved successfully|1';
			END
 
END
GO
