@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->


<!-- Main content -->
<div class="content-header">
	<h1 class="m-0">Dashboard will be shown here</h1>
</div>
	
	
						
		



