@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" wwwroot="width=device-width, initial-scale=1">
	<title>Login - Seed Admin</title>

	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_page/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_page/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_page/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_page/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_page/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_page/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login_page/util.css">
	<link rel="stylesheet" type="text/css" href="~/login_page/main.css">
	<!--===============================================================================================-->
	<link href="~/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-50 p-b-30">

				@using (Html.BeginForm("Login", "Home", new { Area = "" }, FormMethod.Post, false, new { id = "formLogin", @class = "login100-form validate-form", enctype = "multipart/form-data", @data_form_isvalidate = "" }))
				{
					@Html.AntiForgeryToken()

					<img src="https://img.freepik.com/free-photo/close-up-picture-hand-holding-planting-sapling-plant_1150-28373.jpg"
						 style="display: block;width: 100%;height: 200px; border-radius: 3px;" class="p-b-20">

					<span class="login100-form-title p-b-25">
						<b>Seed</b> Admin
					</span>

					<div class="wrap-input100 validate-input m-b-16 alert-validate" data-validate="Valid email is required: ex@abc.xyz">
						<input type="text" name="UserName" class="input100" placeholder="Username / MobileNo" data-required data-msg="The Username field is required." autocomplete="off">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-16 alert-validate" data-validate="Password is required">
						<input type="password" name="Password" class="input100" placeholder="Password" data-required data-msg="The Password field is required." autocomplete="off">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>

					<div class="container-login100-form-btn p-t-25">
						<button type="button" class="login100-form-btn" onclick="fnSubmitForm('formLogin')"> Log in</button>
					</div>

					<input type="text" name="returnUrl" value="@ViewData["ReturnUrl"]" class="d-none" />
				}
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="~/login_page/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/login_page/popper.js"></script>
	<script src="~/login_page/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/login_page/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/login_page/main.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="~/login_page/js"></script>

	<script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script>

	<script src="~/common.js"></script>

</body>
</html>
